---
import { navLinks } from '@/constants.ts';
---

<header class="relative z-50 border-b border-black bg-black sm:border-[#F1F1F1] sm:bg-white">
  <div
    class="relative mx-auto flex max-w-7xl flex-row-reverse sm:flex-row items-center justify-between gap-4 bg-black px-4 py-4 sm:gap-6 sm:px-6 sm:bg-white md:px-16 xl:px-32"
  >
    <a href="/" class="relative z-[70] flex items-center">
      <img src="/logo.svg" alt="Crework Labs" class="hidden h-[28.5px] sm:block sm:h-[28.5px]" loading="eager" fetchpriority="high" />
      <svg
          width="186"
          height="28"
          viewBox="0 0 186 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="block h-[20px] w-auto sm:hidden"
          style="animation: none !important; transition: none !important; opacity: 1 !important;"
      >
          <path d="M49.9706 20.1742V23.408H37.3372L33.5741 19.9046V8.04683L37.3372 4.54346H49.9706V7.77728H39.0844L37.3372 9.39438V18.5571L39.0844 20.1742H49.9706Z" fill="white"></path>
          <path d="M62.9925 17.2176H57.2138V23.4081H53.4506V4.54346H67.0243L70.519 7.79709V13.9877L67.2933 17.083L71.8627 23.4081H67.4279L62.9925 17.2176ZM66.7557 9.14287L65.2774 7.79709H57.2138V13.9877H65.2774L66.7557 12.6419V9.14287Z" fill="white"></path>
          <path d="M74.8196 4.54346H90.9468V7.79709H78.5829V12.3728H87.9903V15.6026H78.5829V20.1783H91.2159V23.4081H74.8196V4.54346Z" fill="white"></path>
          <path d="M107.223 9.68117L103.057 23.4081H98.0844L92.4398 4.54346H96.4716L100.638 19.3708L104.939 4.54346H109.508L113.809 19.3708L117.975 4.54346H122.007L116.362 23.4081H111.39L107.223 9.68117Z" fill="white"></path>
          <path d="M129.407 7.69993L127.66 9.27192V18.7042L129.407 20.2762H136.798L138.546 18.7042V9.27192L136.798 7.69993H129.407ZM127.66 4.54395H138.546L142.309 7.96185V20.0143L138.546 23.4204H127.66L123.896 20.0143V7.96185L127.66 4.54395Z" fill="white"></path>
          <path d="M156.022 17.2176H150.244V23.4081H146.48V4.54346H160.054L163.549 7.79709V13.9877L160.324 17.083L164.893 23.4081H160.458L156.022 17.2176ZM159.786 9.14287L158.307 7.79709H150.244V13.9877H158.307L159.786 12.6419V9.14287Z" fill="white"></path>
          <path d="M171.606 15.6026V23.4081H167.843V4.54346H171.606V12.3728H174.831L180.61 4.54346H185.157L178.326 13.7186L185.717 23.4081H181.148L175.234 15.6026H171.606Z" fill="white"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.38445C0 3.7815 2.91847 0.863037 5.52136 0.863037H20.7051C23.3078 0.863037 26.2265 3.7815 26.2265 6.38445V21.5682C26.2265 24.1709 23.3078 27.0896 20.7051 27.0896C19.5384 27.0896 6.52498 27.137 5.52098 27.137C2.91846 27.137 0 24.1709 0 21.5682V6.38445ZM11.0427 4.54403C9.9108 4.54403 3.68094 10.7707 3.68094 11.9058C3.68094 13.2862 3.68094 14.6664 3.68094 16.0468C3.68094 17.181 9.9108 23.4086 11.0427 23.4086C12.4231 23.4086 13.8034 23.4086 15.1837 23.4086C16.316 23.4086 22.5455 17.181 22.5455 16.0468C22.5455 14.6664 22.5455 13.2862 22.5455 11.9058C22.5455 10.7707 16.316 4.54403 15.1837 4.54403C13.8034 4.54403 12.4231 4.54403 11.0427 4.54403Z" fill="#FF5A1F"></path>
      </svg>
    </a>
    <input type="checkbox" id="menu" class="peer" hidden />
    <label for="menu" class="fixed inset-0 z-[55] hidden cursor-pointer bg-black/20 backdrop-blur-sm peer-checked:block sm:hidden sm:peer-checked:hidden"></label>
    <nav
      class="fixed right-0 top-0 z-[60] flex h-screen w-64 translate-x-full flex-col items-start justify-start gap-6 bg-white px-6 py-20 text-base font-medium text-[#020617] shadow-2xl transition-transform peer-checked:translate-x-0 sm:static sm:z-auto sm:h-auto sm:w-auto sm:translate-x-0 sm:flex-row sm:items-center sm:justify-start sm:gap-3 sm:bg-transparent sm:p-0 sm:text-sm sm:text-[#919191] sm:shadow-none"
    >
      {
        navLinks.map(
          ({ href, text, prefetch }: { href: string; text: string; prefetch?: boolean }) => (
            <a
              href={href}
              class="flex h-8 w-full items-center justify-start truncate hover:text-black sm:w-fit sm:justify-center"
              {...(prefetch && { 'data-astro-prefetch': 'viewport' })}
            >
              {text}
            </a>
          ),
        )
      }
    </nav>
    <div class="relative z-[70] flex items-center gap-4 sm:hidden peer-checked:[&>.menu-open]:hidden peer-checked:[&>.menu-close]:flex">
      <label for="menu" class="menu-open flex h-8 w-8 cursor-pointer items-center justify-center text-white">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </label>
      <label for="menu" class="menu-close hidden h-8 w-8 cursor-pointer items-center justify-center rounded bg-[#F1F5F9] text-[#020617]">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.18018 13.021C2.44189 13.021 1.88363 12.8319 1.50537 12.4536C1.12712 12.0799 0.937988 11.5285 0.937988 10.7993V2.47998C0.937988 1.74626 1.12712 1.19255 1.50537 0.818848C1.88363 0.44515 2.44189 0.258301 3.18018 0.258301H11.4585C12.1968 0.258301 12.755 0.44515 13.1333 0.818848C13.5116 1.19255 13.7007 1.74626 13.7007 2.47998V10.7993C13.7007 11.5285 13.5116 12.0799 13.1333 12.4536C12.755 12.8319 12.1968 13.021 11.4585 13.021H3.18018ZM3.26221 11.6743H11.3765C11.6909 11.6743 11.9325 11.5923 12.1011 11.4282C12.2697 11.2642 12.354 11.0158 12.354 10.6831V2.58936C12.354 2.26123 12.2697 2.01514 12.1011 1.85107C11.9325 1.68701 11.6909 1.60498 11.3765 1.60498H3.26221C2.9432 1.60498 2.69938 1.68701 2.53076 1.85107C2.3667 2.01514 2.28467 2.26123 2.28467 2.58936V10.6831C2.28467 11.0158 2.3667 11.2642 2.53076 11.4282C2.69938 11.5923 2.9432 11.6743 3.26221 11.6743ZM5.32666 9.76025C5.1626 9.76025 5.0236 9.70785 4.90967 9.60303C4.80029 9.49821 4.74561 9.36605 4.74561 9.20654C4.74561 9.06071 4.79574 8.91715 4.896 8.77588L6.51611 6.54736L4.97803 4.44189C4.8641 4.28695 4.80713 4.132 4.80713 3.97705C4.80713 3.81755 4.86637 3.68083 4.98486 3.56689C5.10335 3.45296 5.24919 3.396 5.42236 3.396C5.55452 3.396 5.6639 3.42334 5.75049 3.47803C5.84163 3.53271 5.93506 3.6307 6.03076 3.77197L7.35693 5.71338H7.39795L8.69678 3.77197C8.78337 3.63525 8.86995 3.53955 8.95654 3.48486C9.04769 3.42562 9.15706 3.396 9.28467 3.396C9.45785 3.396 9.6014 3.45068 9.71533 3.56006C9.82926 3.66488 9.88623 3.79704 9.88623 3.95654C9.88623 4.10238 9.83154 4.24821 9.72217 4.39404L8.10889 6.57471L9.7085 8.74854C9.81787 8.88981 9.87256 9.03564 9.87256 9.18604C9.87256 9.35465 9.81331 9.49365 9.69482 9.60303C9.58089 9.70785 9.43278 9.76025 9.25049 9.76025C9.12288 9.76025 9.01579 9.73291 8.9292 9.67822C8.84261 9.61898 8.75146 9.51872 8.65576 9.37744L7.31592 7.43604H7.28174L5.94189 9.37744C5.83708 9.52327 5.74137 9.62354 5.65479 9.67822C5.57275 9.73291 5.46338 9.76025 5.32666 9.76025Z" fill="currentColor"></path>
        </svg>
      </label>
    </div>
  </div>
</header>
