---
import MainLayout from '../../layouts/main-layout.astro';
import Section from '../../components/section.astro';
import FeaturedCarousel from '@/components/blog/features-carousel';
import SubscribeEmail from '@/components/blog/subscribe-email';
import BlogList from '@/components/blog/blog-list';
import { getCollection } from 'astro:content';

const allBlogs = await getCollection('blogs');

const featuredBlogs = allBlogs
  .map(({ slug, data: { ...rest } }) => ({ slug, ...rest }))
  .filter(({ featured }) => featured)
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<MainLayout
  title="Builder's Guide Blog - Crework Labs"
  description="No bullshit insights on how to improve conversions and build better products to make more money"
  canonical="https://www.creworklabs.com/blog"
>
  <Section>
    <div class="flex flex-col justify-between gap-8 md:flex-row md:items-end">
      <div class="flex-[3] space-y-2 text-center md:text-start">
        <h1 class="text-4xl font-semibold">Builder's Guide Blog</h1>
        <p class="font-normal text-[#686868]">
          No bullshit insights on how to improve conversions and build better products to make more
          money
        </p>
      </div>
      <div class="flex flex-[2] flex-col items-center justify-end gap-1 md:items-end">
        <SubscribeEmail client:load />
      </div>
    </div>
  </Section>
  <Section>
    <div class="space-y-3">
      <h4 class="text-black">Featured</h4>
      <div data-featured-blog="true">
        <FeaturedCarousel blogs={featuredBlogs} client:load />
      </div>
    </div>
    <BlogList client:only="react" />
  </Section>
  <script>
    import { setupButtonTracking } from '@/utils/mixpanel';

    setupButtonTracking({
      pageName: 'Blogs',
    });
  </script>
</MainLayout>
