@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-insrument-serif {
  font-family: 'Instrument Serif', serif;
  font-style: italic;

  background: linear-gradient(250.57deg,
      #ffffff 2.07%,
      #090909 37.31%,
      #585858 65.4%,
      #ffffff 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.slide_up_hero>* {
  animation: var(--duration) slide_up_hero infinite linear;
}

.slide_up_hero>*:nth-child(1) {
  animation-delay: 0s;
}

.slide_up_hero>*:nth-child(2) {
  animation-delay: 2.5s;
}

.slide_up_hero>*:nth-child(3) {
  animation-delay: 5s;
}

@keyframes slide_up_hero {
  0% {
    top: 100%;
  }

  4% {
    top: 0%;
  }

  33.33% {
    top: 0%;
  }

  37.33% {
    top: -100%;
  }

  100% {
    top: -100%;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply text-3xl font-[450] text-[#020617] sm:text-4xl md:text-6xl;
  }

  h2 {
    @apply text-2xl font-[450] text-[#020617] sm:text-3xl md:text-4xl;
  }

  h3 {
    @apply text-xl font-[450] text-[#020617] sm:text-2xl md:text-3xl;
  }

  h4 {
    @apply text-lg font-normal text-[#5D5D5D] sm:text-xl md:text-2xl;
  }

  h5 {
    @apply text-base font-normal text-[#5D5D5D] sm:text-lg md:text-xl;
  }

  h6 {
    @apply text-sm font-normal text-[#5D5D5D] sm:text-base md:text-lg;
  }

  ul {
    @apply list-inside list-disc;
  }

  li {
    @apply text-lg font-[300] leading-snug text-[#5D5D5D] marker:font-bold;
  }

  strong {
    @apply font-[500];
  }
}

@layer components {
  .section-container {
    @apply relative mx-auto w-10/12 max-w-5xl border border-[#F1F1F1] px-5 py-20 sm:px-16 lg:w-9/12;
  }

  .case-studies-container {
    @apply flex flex-col gap-8 rounded-2xl border-2 border-[#F1F1F1] px-4 pt-4 shadow-[0px_0px_6px_0px_#00000040] sm:px-6 sm:pt-10 md:flex-row;
  }

  p {
    @apply text-lg font-[300] leading-snug text-[#5D5D5D];
  }

  .btn {
    @apply m-0 rounded-lg border-[1.3px] border-[#FFFFFF33] px-3 py-2 text-xs font-medium text-white sm:px-6 sm:text-base;
    @apply bg-black bg-gradient-to-b from-[#ffffff4d] from-[7.29%] to-[#ffffff00] to-[65.62%] shadow-lg;
    @apply transition-all duration-100 ease-in-out;
    @apply cursor-pointer active:bg-none active:shadow-none;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .custom-prose {
    @apply prose max-w-none flex-1 [&_a]:break-words [&_h2:first-child]:mt-0 [&_img]:rounded-md [&_img]:border [&_li.task-list-item>input]:mr-2 [&_p:has(img)]:flex [&_p:has(img)]:justify-center [&_ul.contains-task-list]:list-inside [&_ul.contains-task-list]:list-none [&_ul.contains-task-list]:pl-0 [&_ul]:list-outside [&_p]:my-2;
  }
}