---
import Section from '../section.astro';
---

<Section data-section="our-services">
  <div class="space-y-3 text-center">
    <h2 class="font-semibold">Our Services</h2>
    <p>From concept to creation, we're your trusted digital partner.</p>
  </div>
  <div class="mt-6 space-y-6">
    {
      [
        {
          title: 'MVP Development',
          description:
            'We turn your idea into a working web or mobile product quickly - so you can launch, test with real users, and validate your concept without wasting time or budget.',
          tags: ['Web App Development', 'Mobile App Development (iOS & Android)', 'AI-Enabled Product Builds'],
        },
        {
          title: 'AI Automation',
          description:
            'We identify manual, repetitive workflows in your business and build intelligent automations that save time, reduce errors, and improve efficiency.',
          tags: ['Custom AI Tool & Intelligent System Development', 'AI Adoption Strategy for Organisations', 'Workflow Automation & Process Optimization'],
        },
        {
          title: 'Design',
          description:
            'We design clean, intuitive digital experiences that are easy to use and built to convert visitors into customers.',
          tags: ['UI/UX Design', 'Landing Page and Website  Design', 'Brand Identity Design'],
        }
      ].map(({ title, description, tags }) => (
        <div class="flex flex-col gap-4 rounded-3xl border border-[#C1C1C1] px-6 py-6 md:flex-row md:gap-12">
          <div class="flex-1 space-y-3">
            <h3 class="font-medium">{title}</h3>
            <p class="text-sm text-[#686868]">{description}</p>
          </div>
          <div class="flex-1 divide-y">
            {tags.map((tag) => (
              <div class="py-2">{tag}</div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Section>
