<header class="border-b border-[#F1F1F1]">
  <div
    class="mx-auto flex max-w-7xl items-center justify-between gap-8 px-8 py-4 md:px-16 xl:px-32"
  >
    <a href="/">
      <img src="/logo.svg" alt="Crework Labs" class="h-5 md:h-auto" />
    </a>
    <div class="flex h-8 w-8 items-center justify-center rounded bg-[#F1F5F9] md:hidden">
      <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3.7085 8.36206C3.5262 8.36206 3.37354 8.29826 3.25049 8.17065C3.12744 8.04305 3.06592 7.89038 3.06592 7.71265C3.06592 7.53491 3.12744 7.38224 3.25049 7.25464C3.37354 7.12703 3.5262 7.06323 3.7085 7.06323H10.8589C11.0412 7.06323 11.1938 7.12703 11.3169 7.25464C11.4445 7.38224 11.5083 7.53491 11.5083 7.71265C11.5083 7.89494 11.4445 8.04989 11.3169 8.17749C11.1938 8.30054 11.0412 8.36206 10.8589 8.36206H3.7085ZM2.3208 4.83472C2.14307 4.83472 1.9904 4.77091 1.86279 4.64331C1.73975 4.51571 1.67822 4.36304 1.67822 4.1853C1.67822 4.00301 1.73975 3.85034 1.86279 3.72729C1.98584 3.59969 2.13851 3.53589 2.3208 3.53589H12.2534C12.4266 3.53589 12.5747 3.59969 12.6978 3.72729C12.8254 3.85034 12.8892 4.00301 12.8892 4.1853C12.8892 4.36304 12.8254 4.51571 12.6978 4.64331C12.5747 4.77091 12.4266 4.83472 12.2534 4.83472H2.3208ZM0.905762 1.30054C0.728027 1.30054 0.575358 1.23674 0.447754 1.10913C0.324707 0.981527 0.263184 0.831136 0.263184 0.657959C0.263184 0.475667 0.324707 0.320719 0.447754 0.193115C0.575358 0.0655111 0.728027 0.00170898 0.905762 0.00170898H13.6343C13.8166 0.00170898 13.9692 0.0655111 14.0923 0.193115C14.2153 0.320719 14.2769 0.475667 14.2769 0.657959C14.2769 0.835693 14.2153 0.988363 14.0923 1.11597C13.9692 1.23901 13.8166 1.30054 13.6343 1.30054H0.905762Z"
          fill="#020617"></path>
      </svg>
    </div>
    <nav class="hidden items-center gap-6 text-sm font-medium text-[#919191] md:flex">
      <a href="/#our-impact" class="">Our Impact</a>
      <a href="/#our-portfolio" class="">Our Portfolio</a>
    </nav>
  </div>
</header>
