<header class="relative z-10 border-b border-[#F1F1F1]">
  <div
    class="relative mx-auto flex max-w-7xl items-center justify-between gap-8 bg-white px-8 py-4 md:px-16 xl:px-32"
  >
    <a href="/">
      <img src="/logo.svg" alt="Crework Labs" class="h-5 sm:h-auto" />
    </a>
    <input type="checkbox" id="menu" class="peer" hidden />
    <nav
      class="absolute -top-20 left-[8.5vw] -z-10 flex h-[113px] w-10/12 flex-col items-center justify-center gap-6 bg-[#F1F1F1] text-sm font-medium text-[#020617] transition-all peer-checked:top-16 sm:static sm:z-auto sm:h-auto sm:w-auto sm:flex-row sm:justify-start sm:bg-transparent sm:text-[#919191]"
    >
      <a href="/#our-impact" class="hover:text-black">Our Impact</a>
      <a href="#" class="hover:text-black">Case Studies</a>
      <a href="/#contact-us" class="hover:text-black">Contact Us</a>
    </nav>
    <label
      for="menu"
      class="flex h-8 w-8 items-center justify-center rounded bg-[#F1F5F9] peer-checked:hidden sm:hidden"
    >
      <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3.7085 8.36206C3.5262 8.36206 3.37354 8.29826 3.25049 8.17065C3.12744 8.04305 3.06592 7.89038 3.06592 7.71265C3.06592 7.53491 3.12744 7.38224 3.25049 7.25464C3.37354 7.12703 3.5262 7.06323 3.7085 7.06323H10.8589C11.0412 7.06323 11.1938 7.12703 11.3169 7.25464C11.4445 7.38224 11.5083 7.53491 11.5083 7.71265C11.5083 7.89494 11.4445 8.04989 11.3169 8.17749C11.1938 8.30054 11.0412 8.36206 10.8589 8.36206H3.7085ZM2.3208 4.83472C2.14307 4.83472 1.9904 4.77091 1.86279 4.64331C1.73975 4.51571 1.67822 4.36304 1.67822 4.1853C1.67822 4.00301 1.73975 3.85034 1.86279 3.72729C1.98584 3.59969 2.13851 3.53589 2.3208 3.53589H12.2534C12.4266 3.53589 12.5747 3.59969 12.6978 3.72729C12.8254 3.85034 12.8892 4.00301 12.8892 4.1853C12.8892 4.36304 12.8254 4.51571 12.6978 4.64331C12.5747 4.77091 12.4266 4.83472 12.2534 4.83472H2.3208ZM0.905762 1.30054C0.728027 1.30054 0.575358 1.23674 0.447754 1.10913C0.324707 0.981527 0.263184 0.831136 0.263184 0.657959C0.263184 0.475667 0.324707 0.320719 0.447754 0.193115C0.575358 0.0655111 0.728027 0.00170898 0.905762 0.00170898H13.6343C13.8166 0.00170898 13.9692 0.0655111 14.0923 0.193115C14.2153 0.320719 14.2769 0.475667 14.2769 0.657959C14.2769 0.835693 14.2153 0.988363 14.0923 1.11597C13.9692 1.23901 13.8166 1.30054 13.6343 1.30054H0.905762Z"
          fill="#020617"></path>
      </svg>
    </label>
    <label
      for="menu"
      class="hidden h-8 w-8 items-center justify-center rounded bg-[#F1F5F9] peer-checked:flex sm:peer-checked:hidden"
    >
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.18018 13.021C2.44189 13.021 1.88363 12.8319 1.50537 12.4536C1.12712 12.0799 0.937988 11.5285 0.937988 10.7993V2.47998C0.937988 1.74626 1.12712 1.19255 1.50537 0.818848C1.88363 0.44515 2.44189 0.258301 3.18018 0.258301H11.4585C12.1968 0.258301 12.755 0.44515 13.1333 0.818848C13.5116 1.19255 13.7007 1.74626 13.7007 2.47998V10.7993C13.7007 11.5285 13.5116 12.0799 13.1333 12.4536C12.755 12.8319 12.1968 13.021 11.4585 13.021H3.18018ZM3.26221 11.6743H11.3765C11.6909 11.6743 11.9325 11.5923 12.1011 11.4282C12.2697 11.2642 12.354 11.0158 12.354 10.6831V2.58936C12.354 2.26123 12.2697 2.01514 12.1011 1.85107C11.9325 1.68701 11.6909 1.60498 11.3765 1.60498H3.26221C2.9432 1.60498 2.69938 1.68701 2.53076 1.85107C2.3667 2.01514 2.28467 2.26123 2.28467 2.58936V10.6831C2.28467 11.0158 2.3667 11.2642 2.53076 11.4282C2.69938 11.5923 2.9432 11.6743 3.26221 11.6743ZM5.32666 9.76025C5.1626 9.76025 5.0236 9.70785 4.90967 9.60303C4.80029 9.49821 4.74561 9.36605 4.74561 9.20654C4.74561 9.06071 4.79574 8.91715 4.896 8.77588L6.51611 6.54736L4.97803 4.44189C4.8641 4.28695 4.80713 4.132 4.80713 3.97705C4.80713 3.81755 4.86637 3.68083 4.98486 3.56689C5.10335 3.45296 5.24919 3.396 5.42236 3.396C5.55452 3.396 5.6639 3.42334 5.75049 3.47803C5.84163 3.53271 5.93506 3.6307 6.03076 3.77197L7.35693 5.71338H7.39795L8.69678 3.77197C8.78337 3.63525 8.86995 3.53955 8.95654 3.48486C9.04769 3.42562 9.15706 3.396 9.28467 3.396C9.45785 3.396 9.6014 3.45068 9.71533 3.56006C9.82926 3.66488 9.88623 3.79704 9.88623 3.95654C9.88623 4.10238 9.83154 4.24821 9.72217 4.39404L8.10889 6.57471L9.7085 8.74854C9.81787 8.88981 9.87256 9.03564 9.87256 9.18604C9.87256 9.35465 9.81331 9.49365 9.69482 9.60303C9.58089 9.70785 9.43278 9.76025 9.25049 9.76025C9.12288 9.76025 9.01579 9.73291 8.9292 9.67822C8.84261 9.61898 8.75146 9.51872 8.65576 9.37744L7.31592 7.43604H7.28174L5.94189 9.37744C5.83708 9.52327 5.74137 9.62354 5.65479 9.67822C5.57275 9.73291 5.46338 9.76025 5.32666 9.76025Z"
          fill="#020617"></path>
      </svg>
    </label>
  </div>
</header>
