<section class="relative border border-[#F1F1F1] px-5 py-20 md:px-16">
  <div
    class="absolute left-0 top-0 h-3 w-3 -translate-x-1/2 -translate-y-1/2 rounded-full bg-gradient-to-b from-white to-[#ECECEC] p-[2px] md:h-7 md:w-7"
    style="box-shadow: 0px 0px 0.468888px 0.468888px rgba(0, 0, 0, 0.07), 0px 0px 0.468888px 1.40666px rgba(0, 0, 0, 0.05), 0px 5.62666px 6.09555px -2.81333px rgba(0, 0, 0, 0.25), 0px 1.87555px 7.50221px 1.87555px rgba(0, 0, 0, 0.12);"
  >
    <div class="h-full w-full rounded-full bg-gradient-to-b from-[#F4F4F4] to-[#FEFEFE]"></div>
  </div>
  <div
    class="absolute right-0 top-0 m-0 h-3 w-3 -translate-y-1/2 translate-x-1/2 rounded-full bg-gradient-to-b from-white to-[#ECECEC] p-[2px] md:h-7 md:w-7"
    style="box-shadow: 0px 0px 0.468888px 0.468888px rgba(0, 0, 0, 0.07), 0px 0px 0.468888px 1.40666px rgba(0, 0, 0, 0.05), 0px 5.62666px 6.09555px -2.81333px rgba(0, 0, 0, 0.25), 0px 1.87555px 7.50221px 1.87555px rgba(0, 0, 0, 0.12);"
  >
    <div class="h-full w-full rounded-full bg-gradient-to-b from-[#F4F4F4] to-[#FEFEFE]"></div>
  </div>
  <div class="space-y-6">
    <h1 class="mb-4 text-3xl font-[450] text-[#020617] md:text-6xl">
      Sleek, Powerful and User Obsessed Website solutions
    </h1>
    <p class="mb-8 text-base text-[#64748B] md:text-xl">
      We are a product studio deeply focused on crafting
      <br />
      experiences that connect you with your audience.
    </p>
  </div>
  <div class="mt-11">
    <button
      class="m-0 rounded-lg border border-[#5C5C5C] px-6 py-2 text-xs font-medium text-white md:text-base"
      style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 7.29%, rgba(255, 255, 255, 0) 65.62%), #000000;
        box-shadow: 0px 3.46304px 8.65761px rgba(0, 0, 0, 0.16), 0px 0px 0px 0.865761px #989898;"
    >
      Let's Chat
    </button>
    <a href="/#our-portfolio" class="ml-3 text-xs font-medium text-black md:text-base">
      View Portfolio
    </a>
  </div>
</section>
