---
const { animationDelay } = Astro.props;
---

<div class="relative flex items-center overflow-hidden">
  <div
    style={{
      animationDelay,
      animationDuration: '20s',
    }}
    class="flex animate-marquee items-center whitespace-nowrap"
  >
    <slot />
  </div>
  <div
    style={{
      animationDelay,
      animationDuration: '20s',
    }}
    class="absolute top-0 flex animate-marquee2 items-center whitespace-nowrap"
  >
    <slot />
  </div>
</div>
