---
import { Image } from 'astro:assets';

const portfolio = [
  {
    image: '/portfolio/butterflies.png',
    name: 'Butterflies',
  },
  {
    image: '/portfolio/fundsfinder.png',
    name: 'Funds Finder',
  },
  {
    image: '/portfolio/feelgoodclub.png',
    name: 'Feel Good Club',
  },
  {
    image: '/portfolio/dashboard.png',
    name: 'Dashboard',
  },
  {
    image: '/portfolio/startupnavigator.png',
    name: 'Startup Navigator',
  },
  {
    image: '/portfolio/travaygroup.png',
    name: 'Travay Group',
  },
  {
    image: '/portfolio/PM.png',
    name: 'Product Management Cohort',
  },
  {
    image: '/portfolio/blendstudio.png',
    name: 'Blend Studio',
  },
];
---

<section
  id="our-portfolio"
  class="mx-auto flex aspect-[16/10] w-10/12 max-w-5xl items-center border lg:w-9/12"
  data-section="portfolio"
>
  <div class="absolute left-0 flex w-screen overflow-hidden">
    <div class="animate-marquee whitespace-nowrap">
      {
        portfolio.map(({ image, name }) => (
          <div class="my-2 mr-6 inline-flex aspect-[16/10] w-[70vw] max-w-3xl rounded-3xl border p-[1px] shadow-[0px_0px_6px_0px_#00000040] md:w-[calc(50vw)]">
            <Image
              src={image}
              alt={name}
              class="size-full rounded-3xl object-cover object-top"
              width={800}
              height={450}
            />
          </div>
        ))
      }
    </div>
    <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
      {
        portfolio.map(({ image, name }) => (
          <div class="my-2 mr-6 inline-flex aspect-[16/10] w-[70vw] max-w-3xl rounded-3xl border p-[1px] shadow-[0px_0px_6px_0px_#00000040] md:w-[calc(50vw)]">
            <Image
              src={image}
              alt={name}
              class="size-full rounded-3xl object-cover object-top"
              width={800}
              height={450}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
