---
import Dot from '../components/dot.astro';
import BorderBeam from '../components/border.astro';
import { BOOK_CALL } from '../constants';
---

<div class="section-container border-t-0 pt-0">
  <div
    class="relative flex w-full items-center justify-center overflow-hidden rounded-2xl border bg-black bg-gradient-to-b from-[#ffffff4d] from-[7.29%] to-[#ffffff00] to-[65.62%] shadow-lg md:shadow-xl"
  >
    <div
      class="relative m-8 flex w-10/12 flex-col items-center gap-8 border border-[#FFFFFF] border-opacity-35 px-4 py-8 md:m-16"
    >
      <div
        class="absolute left-0 top-0 h-[1px] w-screen -translate-x-1/4 bg-[#ffffff] bg-opacity-35"
      >
      </div>
      <div class="absolute left-0 h-screen w-[1px] -translate-y-1/4 bg-[#ffffff] bg-opacity-35">
      </div>
      <div
        class="absolute bottom-0 left-0 h-[1px] w-screen -translate-x-1/4 bg-[#ffffff] bg-opacity-35"
      >
      </div>
      <div class="absolute right-0 h-screen w-[1px] -translate-y-1/4 bg-[#ffffff] bg-opacity-35">
      </div>
      <Dot class="left-0 top-0 -translate-x-1/2 -translate-y-1/2" />
      <Dot class="right-0 top-0 -translate-y-1/2 translate-x-1/2" />
      <Dot class="bottom-0 left-0 -translate-x-1/2 translate-y-1/2" />
      <Dot class="bottom-0 right-0 translate-x-1/2 translate-y-1/2" />
      <h2 class="text-center text-white">Tell us about your project</h2>
      <a
        href={BOOK_CALL}
        target="_blank"
        data-btntype="book call - secondary"
        class="mx-auto block cursor-pointer text-balance rounded-xl bg-white px-4 py-2 text-xs active:bg-gradient-to-b active:from-black/20 active:to-white md:px-14 md:py-4 md:text-2xl"
        >Book a call</a
      >
      <BorderBeam size={250} duration={12} delay={9} colorFrom="#ffffff" colorTo="transparent" />
    </div>
  </div>
</div>
