---
import { Image } from 'astro:assets';
import { formatDate } from 'date-fns';

const {
  data: { blogTitle, blogAuthor, blogDate, blogImage },
  reading_time,
} = Astro.props;
---

<header class="space-y-4">
  <div class="space-y-4">
    <h1 class="font-semibold">{blogTitle}</h1>
    <p class="text-sm text-[#686868]">
      {blogDate ? formatDate(blogDate, 'MMMM dd, yyyy') : null} • {reading_time}
    </p>
  </div>
  <Image
    src={blogImage.src}
    alt={blogImage.alt}
    width="1200"
    height="600"
    format="avif"
    quality={80}
    class="aspect-video rounded-lg border object-cover object-center"
  />
</header>
