---
import CaseStudiesSwitch from './case-studies-switch.tsx';
---

<section id="case-studies" class="section-container relative" data-section="case-studies">
  <div
    class="absolute left-0 top-0 h-3 w-3 -translate-x-1/2 -translate-y-1/2 rounded-full bg-gradient-to-b from-white to-[#ECECEC] p-[2px] sm:h-7 sm:w-7"
    style="box-shadow: 0px 0px 0.468888px 0.468888px rgba(0, 0, 0, 0.07), 0px 0px 0.468888px 1.40666px rgba(0, 0, 0, 0.05), 0px 5.62666px 6.09555px -2.81333px rgba(0, 0, 0, 0.25), 0px 1.87555px 7.50221px 1.87555px rgba(0, 0, 0, 0.12);"
  >
    <div class="h-full w-full rounded-full bg-gradient-to-b from-[#F4F4F4] to-[#FEFEFE]"></div>
  </div>
  <div
    class="absolute right-0 top-0 m-0 h-3 w-3 -translate-y-1/2 translate-x-1/2 rounded-full bg-gradient-to-b from-white to-[#ECECEC] p-[2px] sm:h-7 sm:w-7"
    style="box-shadow: 0px 0px 0.468888px 0.468888px rgba(0, 0, 0, 0.07), 0px 0px 0.468888px 1.40666px rgba(0, 0, 0, 0.05), 0px 5.62666px 6.09555px -2.81333px rgba(0, 0, 0, 0.25), 0px 1.87555px 7.50221px 1.87555px rgba(0, 0, 0, 0.12);"
  >
    <div class="h-full w-full rounded-full bg-gradient-to-b from-[#F4F4F4] to-[#FEFEFE]"></div>
  </div>
  <div class="mx-auto mb-12 max-w-3xl space-y-6 text-center">
    <h2 class="text-balance text-center text-3xl font-semibold">
      Case Studies: Transforming Ideas into Impact
    </h2>
    <p>Discover the creative process that drives our success.</p>
  </div>
  <CaseStudiesSwitch sticky={true} client:load />
  <a
    href="/case-studies"
    class="btn mx-auto mt-12 block w-fit px-8 text-center"
    data-astro-prefetch="load">View All Case Studies</a
  >
</section>
