---
import MainLayout from '../../layouts/main-layout.astro';
import TalkToUs from '../../components/talk-to-us.astro';
import CaseStudiesSwitch from '@/components/home/case-studies/case-studies-switch';
import Section from '@/components/section.astro';
---

<MainLayout
  title="Case Studies"
  description="We are a product studio deeply focused on crafting experiences that connect you with your audience."
  canonical="https://creworklabs.com/case-studies"
>
  <Section className="border-b-0" data-section="case-studies">
    <div class="mx-auto mb-[72px] max-w-3xl space-y-4 text-center">
      <h1 class="text-3xl font-semibold">Case Studies: Transforming Ideas into Impact</h1>
      <p>Discover the creative process that drives our success.</p>
    </div>
    <CaseStudiesSwitch sticky={false} client:load />
  </Section>
  <TalkToUs />
  <script>
    import { setupButtonTracking } from '../../utils/mixpanel';
    setupButtonTracking({
      pageName: 'CaseStudies',
    });
  </script>
</MainLayout>
